body {
  font-family: "Courier New", Courier, monospace;
  margin: 0;
}

section {
  padding-bottom: 50px;
}

.headline {
  text-align: center;
}

.headline h1 {
  display: inline-block;
  font-size: 45px;
  transition-duration: 0.33s;
}

.headline h1:hover {
  color: skyblue;
}

.container {
  width: 960px;
  margin: 0 auto;
  overflow: hidden;
  border: 1px solid black;
}

.img_items {
  box-sizing: border-box;
  float: left;
  width: 25%;
  padding: 0 3px;
}

.img_items img {
  width: 100%;
}
